@use "./styles/variables" as v;

body {
  background-color: #0e0063 !important;
}

#root {
  width: 100%;
}

.app-wrapper {
  width: 100%;
  overflow-x: hidden;
  background-color: #0e0063;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 50px;

  main {
    border-radius:  v.$main-border;
    background: linear-gradient(87.77deg, #dbcdf1 1.88%, #dfdfe9 51.92%, #dcd7e5 97.2%);

    min-height: calc(100vh - v.$nav-height);
    padding: 44px 0;
  }
}
